{% extends "layout.html" %}

    {% block title %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/all.css">
    
    {% endblock %}

    {% block content %}
    <section>
        <br><br><br>
    <h2 class="title">¿Qué es la simulacion Montecarlo?</h2>
    <br><br><br>    
    <div class="description">La simulación de Montecarlo es un método estadístico. Este es utilizado para resolver 
        problemas matemáticos complejos a través de la generación de variables aleatorias. La simulación de Montecarlo, o método de Montecarlo, 
        le debe el nombre al famoso casino del principado de Mónaco. La ruleta es el juego de casino más famoso y también el ejemplo más sencillo 
        de mecanismo que permite generar números aleatorios.</div>    
        </div><br><br>

        <div class="description">La simulación de Montecarlo es un método estadístico. Este es utilizado para resolver 
            problemas matemáticos complejos a través de la generación de variables aleatorias. La simulación de Montecarlo, o método de Montecarlo, 
            le debe el nombre al famoso casino del principado de Mónaco. La ruleta es el juego de casino más famoso y también el ejemplo más sencillo 
            de mecanismo que permite generar números aleatorios.</div>
    </section><br>
    <br><br>

    <div class="dj-banner">
        <div class="dj-bg">
            <img class="banner" src="/static/img/Captura_de_pantalla_2022-07-24_215042-removebg-preview.png" alt="" height="200px" style="margin-left: 37%;"  width=">
            <div class="dj-text">
                </a></p>
            </div>
        </div>            
    </div>
   
    <br><br><br><br>
    <main class="main">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/all.css">

        </main>
        <br><br><br>
    {% endblock %}
<br><br><br><br>